$background-color: #95c2de;
$text-color: #ffffff;
$font-family: 'Nunito Sans', sans-serif;

body {
  background-color: $background-color;
}

.mainbox {
  background-color: $background-color;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err,
.err2,
.far {
  color: $text-color;
  font-family: $font-family;
  position: absolute;
}

.err {
  font-size: 11rem;
  left: 20%;
  top: 8%;
}

.far {
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
}

.err2 {
  font-size: 11rem;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: $font-family;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}
