@use "variables.scss";
@use "mixins.scss";

.boxcontact {
    background-color: red($color: #000000);
    max-width: 800px; // Largeur maximum du conteneur
    margin: 0 auto; // Centre le conteneur
    padding: 20px;
    border: 1px solid red;
    border-radius: 8px; // Bords arrondis
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Ombre autour du conteneur
}