@use "variables.scss";
@use "mixins.scss";

$text-color: $vert;

body {
  background-color: $orange;
}

.mainbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err,
.err2,
.far {
  color: $text-color;
  position: absolute;
}

.err {
  font-size: 11rem;
  left: 20%;
  top: 8%;
}

.far {
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
}

.err2 {
  font-size: 11rem;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: $vert;

  &:hover {
    text-decoration: underline;
  }
}