@use "variables.scss";
@use "mixins.scss";

/* Mise en page de base */
.erreur {
  //padding: 10vh;
  display: flex;
  height: 100%;
  width: 100vw;
}


.mainbox {
  padding: auto;
  margin: auto;
  height: 50vh;
  width: 100%;
  max-width: 600px;
  position: relative;
  border: 2px solid red;
}

.err,
.err2,
.far {
  color: variables.$vert;
  font-size: 10vmin;
}

.err,
.err2 {
  color: variables.$orange;
  font-size: 10vw;

}


.far {
  font-size: 8vw;
}


.titre404 {
  text-align: center;
}


.msg {
  text-align: center;
  font-size: 1.2rem;
  width: 80%;
}

a {
  font-size: 5vmin;
  text-decoration: none;
  color: variables.$jaune;

  &:hover {
    text-decoration: underline;
  }
}


@include mixins.respond-to('md') {
  .mainbox {
    height: 50vh;
  }

  .err,
  .err2 {
    font-size: 6rem;
  }

  .far {
    font-size: 5rem;
    left: 35%;
    top: 10%;
  }

  .msg {
    font-size: 1rem;
    top: 55%;
    width: 85%;
    left: 7%;
  }
}

@include mixins.respond-to('sm') {

  .err,
  .err2 {
    font-size: 4rem;
    top: 10%;
  }

  .far {
    font-size: 3rem;
    left: 38%;
    top: 15%;
  }

  .msg {
    font-size: 0.9rem;
    width: 90%;
    left: 5%;
  }
}