@use "mixins.scss";
@use "variables.scss";





.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #636363;
}

.nav-link:hover {
  color: black;
}

.navbar-brand  img {
  height: 64px;
}

.btn-donner {
  background-color: variables.$orange;
  color: white;
  padding: 10px 20px;
  border: solid variables.$orange;
  border-radius: 40px;
  font-weight: 600;
  transition: background-color, 0.2s ease;
}

.btn-donner:hover {
  background-color: white;
  color: variables.$orange;
  border: solid variables.$orange;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.topbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topbar-link {
  color: #7b7b7b;
  padding: 0 10px;
  margin-left: 5px;
  border-left: solid 1px #7b7b7b;
  font-size: 14px;
  margin-top: 3%;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000; // Changez la couleur si nécessaire
  }

  @media (max-width: 768px) { // Ajustez la largeur en fonction de votre design
    display: flex;
  }
}

.navbar-nav {
  @media (max-width: 768px) { // Adjust the breakpoint as needed
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px; // Adjust based on your design
    right: 10px;
    background: white; // Set the desired background color
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.open {
    display: flex;
  }
}

.burger-menu {
  display: none; // Initially hide it for desktop view
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000; // Change color as needed
  }

  @media (max-width: 768px) {
    display: flex; // Show burger menu only in mobile view
  }
}
