@use "mixins.scss";
@use "variables.scss";



.section__services {
  padding-top: 96px;
  padding-bottom: 96px;
  padding: 0 10%;
  padding-top: 96px;
  padding-bottom: 96px;


  h2 {
    color: variables.$orange;
    font-size: 96px;
    font-weight: bold;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  transition: scale 0.3s ease;

  &__button {
    display: flexbox;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    border: none;
    outline: none;
    //transition: 0.4s;
    color: white;
    background-color: variables.$orange;
    font-size: 48px;
    border-radius: 8px;
    padding: 24px;
    font-weight: bold;
  }

  &__button.active {
    border-bottom-left-radius: 0px; /* Adjust as needed */
    border-bottom-right-radius: 0px; /* Adjust as needed */
  }

  &__panel {
    background-color: variables.$orange;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 24px;
    overflow: hidden;
    display: none;

  }

  &__text {
    color: white;
    font-size: 32px;
  }

  &__bouton {
    border-radius: 40px;
    padding: 12px 24px;
    color: variables.$orange;
    background-color: white;
    border: solid white 4px;
    font-size: 32px;
    margin-top: 48px;
  }
}



.accordion:nth-of-type(1) {
  .accordion__button, .accordion__panel {
    background-color: variables.$orange;
  }
  .accordion__bouton {
    color: variables.$orange;
    transition: background-color, 0.2s ease,;
  }
  .accordion__bouton:hover {
    color: white;
    background-color: variables.$orange;
  }

}

.accordion:nth-of-type(2) {
  .accordion__button, .accordion__panel {
    background-color: variables.$jaune;
  }
  .accordion__bouton {
    color: variables.$jaune;
    transition: background-color, 0.2s ease,;
  }
  .accordion__bouton:hover {
    color: white;
    background-color: variables.$jaune;
  }
}

.accordion:nth-of-type(3) {
  .accordion__button, .accordion__panel {
    background-color: variables.$vert;
  }
  .accordion__bouton {
    color: variables.$vert;
    transition: background-color, 0.2s ease,;
  }
  .accordion__bouton:hover {
    color: white;
    background-color: variables.$vert;
  }

}

.accordion:nth-of-type(4) {
  .accordion__button, .accordion__panel {
    background-color: variables.$bleu;
  }
  .accordion__bouton {
    color: variables.$bleu;
    transition: background-color, 0.2s ease,;
  }
  .accordion__bouton:hover {
    color: white;
    background-color: variables.$bleu;
  }

}

.accordion:hover {
  scale: 1.01;
}



