@use "variables.scss";
@use "mixins.scss";

.temoignage-content {
  background-color: variables.$bleu;
  text-align: center;
  padding: 50px;
  height: 70vh;

  .temoignage-photo {
    border: 6px solid #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .temoignage-nom {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .temoignage-profession {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */

  }

  .temoignage-texte {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    font-style: italic;
    line-height: 32px;
  }
}
