@use "variables.scss";
@use "mixins.scss";

.section__temoignanes {
  margin-top: 10%;
  position: relative;
}

.temoignage-content {
  background-color: variables.$bleu;
  text-align: center;
  padding: 50px;

  .temoignage-photo {
    border: 6px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .temoignage-nom {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }

  .temoignage-profession {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Schibsted Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
  }

  .temoignage-texte {
    margin: 0 auto;
    color: #000;
    width: 600px;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Schibsted Grotesk";
    font-size: 17px;
    font-style: italic;
    line-height: 32px;
    /* 160% */
  }
}
