@font-face {
  font-family: "Schibsted Grotesk";
  src: url(../sources/medias/fonts/Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf);
}

@mixin titre-1 {
  font-size: 64px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: bold;
}
@mixin titre-2 {
  font-size: 64px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: medium;
}
@mixin titre-3 {
  font-size: 64px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: normal;
}

@mixin paragraphe {
  font-size: 24px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: normal;
}
