@use "partials-scss/mixins";
@use "partials-scss/variables";
@use "partials-scss/header";
@use "partials-scss/footer";
@use "partials-scss/hero";
@use "partials-scss/a-propos";
@use "partials-scss/info-lettre";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
