@use "partials-scss/mixins.scss";
@use "partials-scss/variables.scss";
@use "partials-scss/header.scss";
@use "partials-scss/footer.scss";
@use "partials-scss/hero.scss";
@use "partials-scss/a-propos.scss";
@use "partials-scss/info-lettre.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
