@charset "UTF-8";
@font-face {
  font-family: "Schibsted Grotesk";
  src: url(../sources/medias/fonts/Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Message";
  src: url(../sources/medias/fonts/messages-font/Messages-gnn5.ttf);
}
h1 {
  font-size: 64px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: medium;
}

h3 {
  font-size: 24px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-family: "Schibsted Grotesk";
  color: black;
  font-weight: normal;
}

/****** MARGINS ******/
/*---------- NAVBAR, BOUNTON DE DON & TOPBAR ----------*/
a.btn.btn-donner-custom {
  background-color: #fbab1a;
  color: white;
  border-color: #fbab1a;
  border: solid 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

a.btn.btn-donner-custom:hover {
  background-color: white;
  border-color: #e09a16;
  border: solid 3px;
  color: #e09a16;
}

.topbar {
  font-size: 12px;
  color: #636363;
  text-decoration: none;
  transition: color 0.3s ease;
}

.topbar:hover {
  color: black;
}

.topbar > :nth-child(2) {
  border-left: 1.5px solid #636363;
  border-right: 1.5px solid #636363;
  border-top: none;
  border-bottom: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  border: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: opacity 1 ease-in;
}

button.navbar-toggler {
  border: none;
}

footer {
  position: relative;
  background-color: #7b7263;
  margin: 0;
}

.grid-footer {
  margin: 5rem;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -moz-column-gap: 10%;
       column-gap: 10%;
  row-gap: 5%;
}

.ville-footer {
  font-size: 24px;
  color: white;
  margin: 0;
}

.logo-footer {
  width: 80px;
  position: relative;
  margin-top: 2%;
  margin-left: 5rem;
}

.p-footer {
  color: white;
  text-decoration: none;
}

.h3-footer {
  color: white;
  margin-left: 5rem;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.email-footer {
  margin: 5rem;
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .email-footer {
    margin-top: 0;
  }
  .h3-footer {
    font-size: 48px;
  }
  .ville-footer {
    font-size: 36px;
  }
}
#copyright-footer {
  position: absolute;
  text-align: center;
  margin-bottom: 2%;
  font-size: 12px;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto;
}

a {
  text-decoration: none !important;
}

.footer__donner {
  background-color: #fbab1a;
  color: white;
  border: 0;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5rem;
  margin-top: 10%;
  right: 5%;
  top: 0;
  position: absolute;
  font-family: "Schibsted Grotesk";
}

.dashed-hero {
  position: absolute;
  top: 10vh;
  z-index: -2;
}

.batiment {
  position: absolute;
  right: 10%;
  z-index: -2;
  width: 50vw;
}

.section__hero {
  position: relative;
  height: 70vh;
  max-height: 600px;
  padding-top: 10vh;
  overflow: hidden;
}

.hero__text {
  position: absolute;
  text-align: center;
  bottom: 0;
  color: white;
  font-style: italic;
  font-family: "Schibsted Grotesk";
  padding: 10%;
  padding-bottom: 0;
  padding-top: 0;
  width: 80vw;
  right: 0;
  left: 0;
  margin: auto;
}

.demi-lune {
  width: 100%;
  max-height: 60vw;
  position: absolute;
  bottom: -10px;
  z-index: -1;
  right: 0;
  left: 0;
  margin: auto;
}

.hero__donner {
  background-color: white;
  border: 0;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5%;
  margin-top: 10%;
  color: #fbab1a;
}

@media screen and (min-width: 768px) {
  .section__hero {
    max-height: 500px;
  }
  .demi-lune {
    display: none;
  }
  .dashed-hero {
    display: none;
  }
  .hero__text {
    color: black;
    width: 60vw;
    font-weight: 500;
    font-size: 20px;
    left: 5%;
    right: 80%;
    top: 200px;
    margin: auto;
  }
  .hero__donner {
    display: none;
  }
  .batiment {
    right: 5%;
    width: 30vw;
  }
  .hero__orange {
    color: #fbab1a;
  }
}
@media screen and (min-width: 992px) {
  .dashed-hero {
    display: block;
  }
  .hero__text {
    left: 10%;
  }
}
.propos {
  background-color: #fbab1a;
  color: white;
  padding: 5%;
  border: #fbab1a 2px solid;
}
.propos__p {
  color: white;
}
.propos__titre {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.propos__donner {
  width: 60vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 0;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fbab1a;
  font-family: "Schibsted Grotesk";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.propos__mission {
  color: white;
}
.propos__approche {
  color: white;
}

.coeur-btn__1 {
  width: 30px;
}
.coeur-btn__2 {
  width: 20px;
  transform: rotate(45deg);
}

.fleche-btn {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .propos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 5%;
  }
  .propos__titre {
    font-size: 60px;
    text-align: left;
    margin: 5%;
  }
}
.info-lettre {
  height: 70vh;
  max-height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbab1a;
  margin-top: 10%;
  position: relative;
}
.info-lettre__titre {
  color: white;
  font-size: 36px;
  font-weight: bold;
  background-color: #fbab1a;
  z-index: 2;
  width: 100%;
}
.info-lettre__email {
  color: white;
  border: 2px solid white;
  background-color: #fbab1a;
  width: 60vw;
  max-width: 600px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.info-lettre__email::-moz-placeholder {
  color: white; /* Change this to any color you want */
  opacity: 1; /* Ensure the color is not faded */
}
.info-lettre__email::placeholder {
  color: white; /* Change this to any color you want */
  opacity: 1; /* Ensure the color is not faded */
}
.info-lettre__input-group {
  position: relative;
  display: inline-block;
}
.info-lettre__submit {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  color: #fbab1a;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
}
.info-lettre__newsletter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
}
.info-lettre__line {
  position: absolute;
  right: 0;
  height: 100%;
  display: none;
}
.info-lettre__send {
  position: absolute;
  height: 100px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .info-lettre__line {
    display: block;
  }
  .info-lettre__send {
    bottom: 50px;
    right: 50px;
  }
}
.titre-news {
  display: grid;
  position: absolute;
  top: 10px;
  left: 100px;
  transform: translate(-5%, -10%);
  z-index: 1;
  color: white;
}

.voir-plus {
  display: grid;
  position: absolute;
  bottom: 10px;
  right: 100px;
  font-size: 19px;
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.voir-plus a {
  color: inherit;
  transition: color 0.3s ease;
}
.voir-plus a:hover {
  color: #fbab1a;
}

.news-section {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  gap: 50px;
  padding: 80px;
  background-color: #aad039;
  position: relative;
}

.news-card {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.news-card:hover {
  transition: all 300ms ease-in;
  transform: scale(1.02);
  opacity: 1;
  border-radius: 50px;
}
.news-card:hover::after {
  transition: all 300ms ease-in-out;
}

.news-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

.news-summary {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.news-link {
  display: inline-block;
  padding: 10px;
  background-color: #fbab1a;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
}

.news-link:hover {
  background-color: #bf7c03;
  transition: all 300ms ease-in;
  transform: scale(1.02);
}

@media (max-width: 1024px) {
  .news-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .news-section {
    grid-template-columns: 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  height: 170px;
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
.section__services {
  padding-top: 96px;
}

.services__article {
  color: white;
  padding-bottom: 28px;
  font-size: 16px;
  line-height: 20px;
}
.services__button {
  width: 189px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 4px solid white;
  background: white;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.services__button.button-1 {
  color: #fbab1a;
}
.services__button.button-2 {
  color: #fecf07;
}
.services__button.button-3 {
  color: #aad039;
}
.services__button.button-4 {
  color: #afe0ee;
}
.services__titre {
  font-size: 36px;
  color: #fbab1a;
  font-weight: bold;
}
.services__sousTitre {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.services__container {
  display: flex;
  flex-direction: column;
}
.services__accordion {
  margin-top: 8px;
  padding: 32px;
}
.services__accordion:first-of-type {
  background-color: #fbab1a;
}
.services__accordion:nth-of-type(2) {
  background-color: #fecf07;
}
.services__accordion:nth-of-type(3) {
  background-color: #aad039;
}
.services__accordion:nth-of-type(4) {
  background-color: #afe0ee;
}
.services__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  left: -100%;
  position: absolute;
  top: -100%;
}
.services__input + label {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__input + label span {
  padding-right: 10px;
}
.services__input + label span::before {
  color: white;
  content: "+";
}
.services__input ~ .services__content {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 500ms ease, opacity 500ms ease;
}
.services__input:checked + label span::before {
  content: "−";
}
.services__input:checked ~ .services__content {
  height: 100%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .services__article {
    font-size: 32px;
    padding-bottom: 52px;
    line-height: 40px;
  }
  .services__button {
    width: 258px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 4px solid white;
    background: white;
    color: #fbab1a;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .services__titre {
    font-size: 60px;
    color: #fbab1a;
    font-weight: bold;
  }
  .services__sousTitre {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
  }
  .services__container {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .services__accordion {
    margin-top: 16px;
    padding: 32px;
    border-radius: 8px;
  }
  .services__accordion:first-of-type {
    background-color: #fbab1a;
  }
  .services__accordion:nth-of-type(2) {
    background-color: #fecf07;
  }
  .services__accordion:nth-of-type(3) {
    background-color: #aad039;
  }
  .services__accordion:nth-of-type(4) {
    background-color: #afe0ee;
  }
  .services__input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    left: -100%;
    position: absolute;
    top: -100%;
  }
  .services__input + label {
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__input + label span {
    padding-right: 10px;
  }
  .services__input + label span::before {
    color: white;
    content: "+";
  }
  .services__input ~ .services__content {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height 500ms ease, opacity 500ms ease;
  }
  .services__input:checked + label span::before {
    content: "−";
  }
  .services__input:checked ~ .services__content {
    height: 100%;
    opacity: 1;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*---------- STYLES GENERAUX ----------*/
.ml-5rem {
  margin-left: 5rem;
}

.mr-5rem {
  margin-right: 5rem;
}

.mx-5rem {
  margin-left: 5rem;
  margin-right: 5rem;
}

* {
  font-family: "Schibsted Grotesk";
}/*# sourceMappingURL=style.css.map */